@using Pivkina.FileManager.Web.Repositories
@{
    var UserRepository = new NHUserRepository();
    var userName = "";
    if (User.Identity.IsAuthenticated)
    {
        userName = UserRepository.LoadByLogin(User.Identity.Name).Name;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Работа с файлами", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Добавить документ", "AddDocument", "Document")</li>
                        <li>@Html.ActionLink("Список документов", "DocumentList", "Document")</li>
                    }
                </ul>
                <ul class="nav navbar-nav" style="float:right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a>@userName</a></li>
                        <li>@Html.ActionLink("Выйти", "Logout", "Account")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Войти", "Login", "Account")</li>
                        <li>@Html.ActionLink("Регистрация", "Registration", "Account")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – Работа с файлами</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
